node_modules/
artifact/
*.log
artifact-gloss/
artifact-gloss-v41/
artifact-v5/
treatments/
artifact-v6/
artifact-v7/
artifact-v8/
tools/tmp/
artifact-v9/
artifact-v9.1/
artifact-v9.2/
artifact-v9.3/
artifact-v9.4/
